.add-option-error {
  color: $off-white;
  font-style: italic;
  margin: $m-size 0 0.5rem  0;
  padding: 0 $m-size;
}

.add-option {
  display: flex;
}

.add-option__input {
  background: $dark-blue;
  border: none;
  border-bottom: 0.3rem solid darken($dark-blue, 10%);
  flex-grow: 1;
  margin: 0.5rem 0.35rem;
  color: $off-white;
  padding:$s-size;
}
