.big-button {
  background: $purple;
  border: none;
  border-bottom: 0.6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $xl-size;
  padding: 2.2rem;
  widows: 100%;
}

.big-button:hover{
  background: darken($purple, 5%);
  border-bottom: 0.6rem solid darken($purple, 15%);
}

.big-button:disabled {
  opacity: 0.5;
}

.button {
  background: $purple;
  border: none;
  border-bottom: 0.3rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $s-size;
  padding: $s-size;
  widows: 100%;
}

.button:hover{
  background: darken($purple, 5%);
  border-bottom: 0.3rem solid darken($purple, 15%);
}



.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}

.button--link:hover {
  background: none;
  border-bottom: none;
}


