.big-button {
  background: $purple;
  border: none;
  border-bottom: 0.6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $xl-size;
  padding: 2.2rem;
  widows: 100%;
  transition: 0.3s all ease-in-out;

  &:hover {
    transform: translateY(-0.6rem);
    background: darken($purple, 5%);
    border-bottom: 0.6rem solid darken($purple, 15%);
    box-shadow: 7px 13px 16px rgba(0, 0, 0, 0.35);
  }

  &:active {
    transform: translateY(0.6rem);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.button {
  background: $purple;
  border: none;
  border-bottom: 0.3rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $s-size;
  padding: $s-size;
  widows: 100%;
  transition: 0.3s all ease-in-out;

  &:hover {
    transform: translateY(-0.6rem);
    background: darken($purple, 5%);
    border-bottom: 0.3rem solid darken($purple, 15%);
  }
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;

  &:hover {
    background: none;
    border-bottom: none;
  }
}
