.option{
    display: flex;
    justify-content: space-between;
    padding: $s-size $s-size $m-size 0.5rem;
    border-bottom: 1px solid lighten($color: $light-blue, $amount: 10%);
    color:white;
    
}