.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
  text-align: center;
}

.widget-header {
  background: $blue;
  color: $off-white;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.widget-header_right {
  display: flex;
  justify-content: space-between;
}

.widget__message {
  color: $off-white;
  margin: 0;
  padding: $l-size;
  text-align: center;
  border-bottom: 1px solid border lighten($color: $light-blue, $amount: 10%);
}

.widget-header__title {
  margin-top: 1.15rem;
  padding: 0 $l-size;
}
